.labs
  h2.logo-labs#labs BrunoLABS
  .bio-labs
    //p O LABS é o nome dado a minha área de testes, onde eu comecei postando alguns testes de códigos de coisas que eu estava estudando.
    //p Com o passar do tempo, quis utilizar o espaço para iniciar o meu blog. Um espaço onde poderia escrever e compartilhar textos sobre
      //| desenvolvimento Front End, Design ou que mais viesse a cabeça.
    p O LABS foi o nome dado a minha área de testes, lugar onde eu usava para estudar e testar coisas novas.
    p Com o passar do tempo, percebi que aprenderia muito mais se eu escreve-se as coisas que eu estudava. Isso me fazia
      | exercitar mais, pesquisar mais e de quebra ainda ganhava um guia de consulta e uma chance de compartilhar conhecimento. Ou não...

  button(class='button-labs', type='button', onclick="alert('Perdão pelo vacilo, mas o LABS ainda ta em reforma. Avisarei no Twitter assim que a reforma terminar. (@brunoalv_s)')") Acesse o LABS!
