.about-skills
  h3.subtitle-page Habilidades

  .skills-levels
    .skills-dev
      h4.skill-title Development
      
      .dev.html
        .bar
          .name-bar
            p HTML5
        .percent
          p 95%
        
      .dev.css
        .bar
          .name-bar
            p CSS3
        .percent
          p 80%
          
      .dev.js
        .bar
          .name-bar
            p JavaScript
        .percent
          p 50%
          
      .dev.sass
        .bar
          .name-bar
            p SASS / LESS
        .percent
          p 75%
          
      .dev.git
        .bar
          .name-bar
            p Git
        .percent
          p 70%

    .skills-design
      h4.skill-title Design
      
      .design.fw
        .bar
          .name-bar
            p Fireworks
        .percent
          p 90%
        
      .design.il
        .bar
          .name-bar
            p Illustrator
        .percent
          p 70%
          
      .design.ps
        .bar
          .name-bar
            p Photoshop
        .percent
          p 50%
