header#header
  
  a(href="../../index.html", class="logo")
    h1.logo Bruno Alves
  nav.menu#menu
    ul
      li
        a(href='../../index.html#jobs') Portfolio
      li
        a(href='../../index.html#labs') LABS
      li
        a(href='../../index.html#about') Sobre
