.labs
  h2.logo-labs.wow.zoomIn#labs BrunoLABS
  .bio-labs.wow.fadeInUp
    p O LABS foi o nome dado a minha área de testes, lugar onde eu usava para estudar e testar coisas novas.
    p Com o passar do tempo, percebi que aprenderia muito mais se eu escreve-se as coisas que eu estudava. Isso me fazia
      | exercitar mais, pesquisar mais e de quebra ainda ganhava um guia de consulta e uma chance de compartilhar conhecimento. Ou não...

  .button-labs.wow.fadeInUp
    a(href="http://brunoalves.info/labs/")
      p Acesse o LABS!
