.portfolio#jobs
  h2.title-page Portfolio

  .cards-jobs

    a.job.ktm.wow.fadeInLeft(href='/jobs/ktm.html')
      .label-title
        p.title-job
          b KTM
          | - Concept ReDesign
      .card-background
        img(src='assets/img/jobs-img/card-job-ktm.jpg', alt='Imagem de ilustração do Projeto de ReDesign da KTM, onde é mostrado o logo a frente de uma moto em um deserto.')

    a.job.satoplay.wow.fadeInRight(href='/jobs/satoplay.html')
      .label-title
        p.title-job
          b SatoPlay
          | - Web Design
      .card-background
        img(src='assets/img/jobs-img/card-job-satoplay.jpg', alt='Imagem de ilustração para o projeto de Design para o WebSite de Jogos SatoPlay. A imagem mostra o personagem principal da série The Witcher 3 e o logo da SatoPlay.')

  button(class='button-portfolio', type='button', onclick="alert('Veja outros Jobs')") Veja outros Jobs.
