.job.avc.wow.zoomIn
	h2.title-page AVC Service: Web Site (Design &amp; SEO)
	p.job-desc
		|	Fui responsável pelo desenvolvimento do Design da página, levando em consideração o publico-alvo do cliente, assim como o objetivo da empresa com o site. O cliente pediu sempre que o site mostra-se todos os produtos e serviços
		|	 que a AVC Service fornece. O carro chefe sendo Automação Residencial e Comercial, foquei em imagens onde todos os seus produtos eram expostos de uma forma clara e objetiva.
	p.job-desc
		|	Em conjunto com o desenvolvimento do Design e de todo o código Front End do site, também fiz um trabalho de SEO. Com a finalidade de subir "palavras-chaves" específicas, assim facilitando a indexação e divulgando ainda mais a marca e seus serviços.
	a.button-job.button-avc(type='button', href="http://avcservice.com.br", target="_blank" style="width: 200px; text-align: center;") Visitar Site
	.job-cover.wow.fadeInUp
		img(src='../assets/images/jobs-img/avc-mockup.png')
	img.wow.fadeInUp.job-layout(src='../assets/img/jobs-img/avc-img01.png')
	button.button-job.button-avc(type='button', onclick="window.location.href='/index.html#jobs'") Voltar a Home
