.job.embratubo.wow.zoomIn
	h2.title-page Embratubo: Web Site (Design &amp; SEO)
	p.job-desc
		|	O cliente queria um ReDesign que mantivesse as cores e alguns pontos do Layout Antigo, levei em consideração o objetivo com o site atual, que era acima de tudo mostrar toda a gama de produtos que a Embratubo oferece.
		|	Foquei na simplicidade da navegação e na experiência do usuário apartir de dispositivos Mobile.
	p.job-desc
		|	Criamos páginas especiais para palavras-chaves (como hotsites), utilizamos do Google Analytics para fazer o acompanhamento das páginas do site e para poder tirar feedback, e saber onde e no que melhorar para o site continuar rankeando bem.
	a.button-job.button-embratubo(type='button', href="http://www.embratubo.com", target="_blank", style="width: 200px; text-align: center;") Visitar Site
	.job-cover.wow-fadeInUp
		img(src='../assets/img/jobs-img/embratubo-mockup.png')
	img.wow.fadeInUp.job-layout(src='../assets/img/jobs-img/embratubo-img01.jpg')
	button.button-job.button-embratubo(type='button', onclick='window.location.href="/index.html#jobs"') Voltar para a Home
