.job.ktm
  h2.title-page KTM: Concept ReDesign
  p.job-desc
    | A idéia por trás deste Redesign, foi dar um foco especial nos modelos de motos, equipamentos e peças.
  .job-cover
    img(src='../assets/img/jobs-img/ktm-mockup.png')
  img.job-layout(src='../assets/img/jobs-img/ktm-img01.jpg')
  button.button-job.button-ktm(type='button', onclick="window.location.href='/index.html#jobs'") Voltar a Home
