.job.satoplay.wow.zoomIn
  h2.title-page Satoplay - Web Design
  .job-desc
    p Como sempre fui apaixonado por games, passei metade da minha infância devorando revistas de video game, então tinha alguma experiência e conhecia alguns problemas de usabilidade que frequentemente esse tipo de site trazia.
    p Procurei focar o layout no conteúdo e dar espaço para ilustrações, assim como as antigas revistas especializadas em games.

  .job-cover.wow.fadeInUp
    img(src='../assets/images/jobs-img/satoplay-mockup.png')

  img.job-layout.wow.fadeInRight(src='../assets/img/jobs-img/satoplay-img01.jpg')
  .gifs.wow.zoomIn
    img(src='../assets/img/jobs-img/satoplay-mobile-menuopen.gif')
    img(src='../assets/img/jobs-img/satoplay-mobile-rollup.gif')
  img.job-layout.wow.fadeInLeft(src='../assets/img/jobs-img/satoplay-img02.jpg')
  img.job-layout.wow.fadeInRight(src='../assets/img/jobs-img/satoplay-img03.jpg')

  button.button-job.button-satoplay.wow.zoomI(type='button', onclick="window.location.href='/index.html#jobs'") Voltar a Home
