@charset "UTF-8";
/*
 * CONTEUDO
 *
 * 0-SETTINGS
 * Colors...............Gerenciamento de Paleta de cores usadas no site/blog.
 * Responsive...........Gerenciamento de nomes de configuração para os breakpoints.
 *
 * 1-TOOLS
 * Fontfaces............Mixins configurada para possibilitar o uso de fontes externas.
 * Animações............Mixins de definição de tipos de animações.
 *
 * 2-GENERIC
 * Reset................Reset básico (margin e padding).
 * Box-sizing...........Melhor padrão 'box-sizing'.
 *
 * 3-BASE
 * Headings.............Heading Styles, uma padronização de uso para os Headings (h1,h2,etc...).
 * Text.................Padronização de estilos para os textos do site (os parágrafos, por exemplo).
 * Blockquotes..........Estilo base para os blocos de citação (blockquotes).
 * Buttons..............Estilos básicos dos Botões.
 * Links................Estilos básicos para os Hiperlinks.
 * Lists................Estilos básicos para listas utilizadas no conteúdo do site/blog.
 *
 * 4-OBJECTS
 * Wrapper..............Wrappers e limitadores de página
 * Buttons..............Padronização de Botões.
 * Media................Objetos de Mídia, como videos e imagens por exemplo.
 *
 * 5-COMPONENTES
 * header-page..........Estilos do Cabeçalho(header) da página.
 * Site-nav.............Estilos do menu da página.
 * card-job.............Configuração de estilos para o card de Jobs do portfólio.
 * Labs-section.........Definição de Estilos do componente da seção do LABS e também de seus elementos.
 * About-bio............Estilos da sessão 'Sobre mim', como cabeçalhos e parágrafos.
 * About-social.........Configuração de estilos para a lista de perfis nas redes sociais.
 * About-skills.........Configuração de estilos para as listas de habilidades e tecnologias/métodos.
 * Footer-page..........Estilo do rodapé(footer) da página.
 *
 * 6-TRUMPS
 * Nada.................Por enquanto, não tenho idéia do que usar aqui.
 */
@font-face {
  font-family: Copernicus;
  src: url(../fonts/Copernicus-Heavy.ttf); }

* {
  margin: 0;
  padding: 0; }

bold {
  background-color: #fbfbfb; }

* {
  box-sizing: border-box; }

.title-page {
  font-family: Copernicus;
  font-size: 3em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em; }

.subtitle-page {
  font-family: Copernicus;
  font-size: 2.2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em; }

.skill-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  color: #444444; }

.button-portfolio {
  border: 2px solid #1ebef0;
  border-radius: 3px;
  background: #1ebef0;
  padding: 0.3em 0.5em;
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  color: #fbfbfb;
  cursor: pointer;
  transition: 200ms;
  display: none; }

.button-portfolio:hover {
  border: 2px solid #1ebef0;
  background: rgba(255, 255, 255, 0);
  color: #1ebef0;
  transition: 200ms; }

.button-labs {
  border: 1px solid;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  padding: 0.2em 0.5em;
  display: block;
  cursor: pointer;
  margin: 1em auto;
  border-color: #009688;
  color: #009688;
  background: #fbfbfb;
  transition: 200ms; }

.button-labs:hover {
  border-color: #fbfbfb;
  color: #fbfbfb;
  background: rgba(255, 255, 255, 0);
  transition: 200ms; }

.button-job {
  border-radius: 3px;
  padding: 0.3em 0.5em;
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  color: #fbfbfb;
  cursor: pointer;
  transition: 200ms; }

.button-job:hover {
  transition: 200ms; }

.button-satoplay {
  border: 2px solid rgba(166, 69, 149, 0.9);
  background: rgba(166, 69, 149, 0.9); }

.button-satoplay:hover {
  border: 2px solid rgba(166, 69, 149, 0.9);
  background: rgba(255, 255, 255, 0);
  color: rgba(166, 69, 149, 0.9); }

.button-ktm {
  border: 2px solid rgba(255, 102, 0, 0.9);
  background: rgba(255, 102, 0, 0.9); }

.button-ktm:hover {
  border: 2px solid rgba(255, 102, 0, 0.9);
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 102, 0, 0.9); }

header {
  width: 100%;
  background-color: #181716;
  background-image: url(../img/layout-img/background-header.jpg);
  background-position: bottom;
  background-size: cover; }
  header > h1.logo {
    width: 90%;
    max-width: 20em;
    min-height: 6em;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    top: 35%;
    text-indent: -50000em;
    background-image: url(../img/layout-img/logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }

.menu {
  width: 100%;
  top: auto;
  bottom: 0px;
  z-index: 100;
  background-color: #181716;
  text-align: center; }
  .menu > ul {
    max-height: 4em;
    overflow: hidden; }
    .menu > ul > li {
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.3em;
      font-weight: 300;
      transition: 300ms; }
      .menu > ul > li > a {
        width: 100%;
        display: block;
        color: #fbfbfb;
        text-decoration: none;
        padding: 0.1em 0.8em;
        transition: 300ms; }
  .menu ul li:hover:nth-child(1) {
    background-color: #1ebef0;
    transition: 300ms; }
  .menu ul li:hover:nth-child(2) {
    background-color: #009688;
    transition: 300ms; }
  .menu ul li:hover:nth-child(3) {
    background-color: #ff4b39;
    transition: 300ms; }

@media screen and (max-width: 769px) {
  .menu {
    position: fixed; }
    .menu > ul > li {
      width: 33.33%;
      text-align: center; }
      .menu > ul > li > a {
        padding: 0.9em 0; } }

@media screen and (min-width: 770px) {
  .menu {
    position: absolute; }
    .menu > ul > li {
      margin-right: 0.01em;
      margin-left: 0.01em;
      margin-bottom: 1em; }
      .menu > ul > li > a {
        padding: 0.9em 2.5em; } }

.portfolio {
  width: 100%;
  margin: 3em 0;
  display: table; }
  .portfolio > .title-page {
    border-bottom: 4px solid #1ebef0;
    width: 5em; }
  .portfolio > .cards-jobs {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .portfolio > .cards-jobs > .job {
      position: relative;
      width: 100%;
      max-width: 560px;
      max-height: 335px;
      display: block;
      margin: 0.5em;
      overflow: hidden; }
      .portfolio > .cards-jobs > .job > .label-title {
        z-index: 1;
        position: absolute;
        opacity: 1;
        width: 100%;
        bottom: 0; }
        .portfolio > .cards-jobs > .job > .label-title > .title-job {
          font-family: 'Open Sans', sans-serif;
          font-size: 1.15em;
          font-weight: 300;
          color: white;
          margin: 0.6em 1em; }
          .portfolio > .cards-jobs > .job > .label-title > .title-job > b {
            font-weight: 400; }
      .portfolio > .cards-jobs > .job > .card-background img {
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow: hidden; }
    .portfolio > .cards-jobs > .ktm > .label-title {
      background: rgba(255, 102, 0, 0.9); }
    .portfolio > .cards-jobs > .satoplay > .label-title {
      background: rgba(166, 69, 149, 0.9); }

.labs {
  width: 100%;
  height: 100%;
  background-image: url(../img/layout-img/bg-labs.png);
  background-color: #009688;
  color: #fbfbfb;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  padding: 3em 0; }
  .labs > .logo-labs {
    display: block;
    width: 55%;
    height: 87px;
    max-width: 284px;
    margin: 0 auto;
    background-image: url(../img/layout-img/logo-labs.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 2em;
    text-indent: -5000em; }
  .labs > .bio-labs {
    width: 95%;
    max-width: 35em;
    margin: 2em auto; }
    .labs > .bio-labs > p {
      margin: 0.5em 0; }

.about {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 1.3em;
  display: table;
  background: #fbfbfb; }
  .about > .title-page {
    border-bottom: 4px solid #ff4b39;
    width: 3.5em;
    margin-top: 0.4em; }
  .about > .about-bio {
    width: 100%;
    max-width: 40em;
    display: block;
    margin: 1em auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-style: italic;
    font-weight: 300;
    text-align: center; }

.about-social {
  width: 100%;
  display: block;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 2em;
  border-bottom: 0.01em solid #181716; }
  .about-social > li {
    display: inline-block;
    width: 20%;
    max-width: 2.5em;
    height: 20%;
    max-height: 2.5em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    background-position: center;
    background-color: #fbfbfb;
    background-repeat: no-repeat;
    border-radius: 100%; }
    .about-social > li > a {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      display: block;
      transition: 200ms; }

@media screen and (max-width: 769px) {
  .about-social {
    width: 100%; }
  .email-icon {
    fill: orange; }
  .behance-icon {
    fill: #005CFF; }
  .github-icon {
    fill: #201F1F; }
  .linkedin-icon {
    fill: #0177B5; }
  .twitter-icon {
    fill: #00ACED; } }

@media screen and (min-width: 770px) {
  .email-icon {
    fill-opacity: .6;
    transition: 200ms; }
    .email-icon:hover {
      fill: orange;
      fill-opacity: 1;
      transition: 200ms; }
  .behance-icon {
    fill-opacity: .6;
    transition: 200ms; }
    .behance-icon:hover {
      fill: #005CFF;
      fill-opacity: 1;
      transition: 200ms; }
  .github-icon {
    fill-opacity: .6;
    transition: 200ms; }
    .github-icon:hover {
      fill: #201F1F;
      fill-opacity: 1;
      transition: 200ms; }
  .linkedin-icon {
    fill-opacity: .6;
    transition: 200ms; }
    .linkedin-icon:hover {
      fill: #0177B5;
      fill-opacity: 1;
      transition: 200ms; }
  .twitter-icon {
    fill-opacity: .6;
    transition: 200ms; }
    .twitter-icon:hover {
      fill: #00ACED;
      fill-opacity: 1;
      transition: 200ms; } }

.about-skills {
  width: 100%;
  margin: 0 auto;
  background: #fbfbfb; }
  .about-skills > h3.subtitle-page {
    color: #444444;
    border-bottom: 4px solid #67b025;
    width: 100%;
    max-width: 6.8em; }
  .about-skills > .skills-levels {
    width: 90%;
    max-width: 54em;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding-bottom: 0.5em; }
    .about-skills > .skills-levels > .skills-dev {
      margin: 1em 0; }
    .about-skills > .skills-levels > .skills-design {
      margin: 3em 0; }

.dev {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0.45em 0;
  font-weight: 300;
  font-size: 1.4em; }
  .dev > .bar {
    position: relative;
    background: #1ebef0;
    display: block;
    padding: 0.2em 0.6em; }
    .dev > .bar > .name-bar {
      color: #fbfbfb;
      margin-bottom: 0.2em; }
  .dev > .percent {
    margin-left: 0.3em;
    font-style: italic;
    color: #6c6c6c; }

.html > .bar {
  width: 95%; }

.css > .bar {
  width: 80%; }

.js > .bar {
  width: 50%; }

.sass > .bar {
  width: 75%; }

.git > .bar {
  width: 70%; }

.design {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0.45em 0;
  font-weight: 300;
  font-size: 1.4em; }
  .design > .bar {
    position: relative;
    background: #a64595;
    display: block;
    padding: 0.2em 0.6em; }
    .design > .bar > .name-bar {
      color: #fbfbfb;
      margin-bottom: 0.2em; }
  .design > .percent {
    margin-left: 0.3em;
    font-style: italic;
    color: #6c6c6c; }

.fw > .bar {
  width: 90%; }

.il > .bar {
  width: 70%; }

.ps > .bar {
  width: 50%; }

/*
 * Itens que estão em default.sass
 *  @import 5-Components/footer
 */
