header {
  width: 100%;
  background-image: url(../../assets/img/layout-img/background-jobs.jpg);
  background-size: cover;
  background-color: rgba(20, 20, 19, 0.9);
  background-blend-mode: color-dodge;
  background-position-x: 50%;
  background-position-y: 25%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5em solid; }
  header > .logo {
    width: 5em;
    height: 5em;
    text-indent: -50000em;
    background-image: url(../../assets/img/layout-img/icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; }

.menu {
  text-align: center; }
  .menu > ul > li {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    transition: 300ms;
    margin: 2em 0;
    border-radius: 2px; }
    .menu > ul > li > a {
      width: 100%;
      display: inline-block;
      color: #fbfbfb;
      text-decoration: none;
      padding: 0.9em 2.5em;
      transition: 300ms; }
  .menu > ul > li:hover:nth-child(1) {
    background-color: #1ebef0;
    transition: 300ms; }
  .menu > ul > li:hover:nth-child(2) {
    background-color: #009688;
    transition: 300ms; }
  .menu > ul > li:hover:nth-child(3) {
    background-color: #ff4b39;
    transition: 300ms; }

@media screen and (max-width: 769px) {
  .logo {
    margin: 1.5em 0; }
  #menu {
    display: none; }
  .menu {
    position: fixed; }
    .menu > ul > li {
      width: 33.33%;
      text-align: center; }
      .menu > ul > li > a {
        padding: 0.9em 0; }
  .menu {
    width: 100%;
    top: auto;
    bottom: 0px;
    z-index: 100;
    background-color: #181716;
    text-align: center; }
    .menu > ul {
      max-height: 4em;
      overflow: hidden; }
      .menu > ul > li {
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.3em;
        font-weight: 300;
        transition: 300ms;
        margin: 0;
        padding: 0.8em 0; }
        .menu > ul > li > a {
          width: 100%;
          display: block;
          color: #fbfbfb;
          text-decoration: none;
          padding: 0.1em 0.8em;
          transition: 300ms; } }

@media screen and (min-width: 770px) {
  #menu-mobile {
    display: none; } }

.job {
  padding: 2em 0; }
  .job > .job-desc {
    max-width: 50em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
    margin: 1em auto; }
  .job > img {
    text-align: center;
    width: auto;
    max-width: 90%;
    margin: 2em auto;
    display: block; }
  .job > .job-cover {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2em 0;
    margin: 2em 0; }
    .job > .job-cover > img {
      width: 0 auto;
      max-width: 90%; }
  .job > .job-layout {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.7); }

.ktm > .title-page {
  width: 85%;
  max-width: 13.5em;
  border-bottom: 4px solid orange; }

.ktm > .job-cover {
  background-color: #FF6600; }

.satoplay > .title-page {
  width: 85%;
  max-width: 11em;
  border-bottom: 4px solid rgba(166, 69, 149, 0.9); }

.satoplay > .job-cover {
  background-color: rgba(166, 69, 149, 0.9); }
