---
layout: post
title: Bruno Alves - Desenvolvedor Front End &amp; Web Designer
---

{% include header-jobs.html %}
{% include menu-jobs.html %}
<div class="job ktm">
  <h2 class="title-page">KTM: Concept ReDesign</h2>
  <p class="job-desc">A idéia por trás deste Redesign, foi dar um foco especial nos modelos de motos, equipamentos e peças.</p>
  <div class="job-cover">
    <img src="../assets/img/jobs-img/ktm-mockup.png">
  </div>
  <img class="job-layout" src="../assets/img/jobs-img/ktm-img01.jpg">
  <button class="button-job button-ktm" type="button" onclick="window.location.href='/index.html#jobs'">Voltar a Home</button>
</div>
{% include footer.html %}
