---
layout: post
title: Bruno Alves - Desenvolvedor Front End &amp; Web Designer
---

{% include header-jobs.html %}
{% include menu-jobs.html %}
<div class="job satoplay">
  <h2 class="title-page">Satoplay - ReDesign</h2>
  <p class="job-desc">Há algum tempo, fui responsável por fazer o redesign do site SatoPlay. Foi pedido para que o projeto mantivesse alguns elementos para que a identidade do site não se perde-se e que fizesse um trabalho focado em atualizar o layout do site.</p>
  <p class="job-desc">Como sempre fui apaixonado por games, passei metade da minha infância devorando revistas de video game e a adolescência visitando diversos sites sobre o assunto. Então tinha alguma experiência e conhecia alguns problemas de usabilidade que frequentemente esse tipo de site trazia.</p>
  <p class="job-desc">Fiz como me pediram, mantive alguns elementos do site antigo, alterei outros, joguei muita coisa fora e também criei novos elementos para compor a página.</p>
  <div class="job-cover">
    <img src="../assets/img/jobs-img/satoplay-mockup.png">
  </div>
  <img class="job-layout" src="../assets/img/jobs-img/satoplay-img01.jpg">
  <img class="job-layout" src="../assets/img/jobs-img/satoplay-img02.jpg">
  <img class="job-layout" src="../assets/img/jobs-img/satoplay-img03.jpg">
  <button class="button-job button-satoplay" type="button" onclick="window.location.href='/index.html#jobs'">Voltar a Home</button>
</div>
{% include footer.html %}
