$primary-color = #333;

// Base Colors
$black = #0a0a0a;
$white = #fff;

// Color palette scale
$color1 = $black;
$color2 = #1e1e1e;
$color3 = #6f6f6f;
$color4 = #c4c4c4;
$color5 = #e5e5e5;
$color6 = $white;

// Palette color for skill list
$develop = $color4 + 10%;
$developDark = $blue - 10%;

$design = $color3 + 10%;
$designDark = $red - 10%;

// Colors
$blue = #2D9CDB;
$red = #FF4B39;
$yellow = #F6FF00;
$lilac = #AB9FFF;
