<!DOCTYPE html>
<html lang="pt">
  {% include head.html %}
  <body>
    {{ content }}

  </body>
</html>
<link rel="stylesheet" href="/assets/css/default.css" media="none" onload="if(media!='all')media='all'">
<link rel="stylesheet" type="text/css", href="/assets/css/home.css">
<script type="text/javascript" src="/assets/js/wow.min.js"></script>
<script>
	new WOW().init();
</script>
<script type="text/javascript">
(function() {
	var windowHeight = window.innerHeight;
	document.getElementById('header').style.height = windowHeight + 'px';
}());
</script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
	$(function() {
		$('a[href*="#"]:not([href="#"])').click(function() {
			if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
				if (target.length) {
					$('html, body').animate({
						scrollTop: target.offset().top
					}, 1000);
					return false;
				}
			}
		});
	});
</script>
<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-77669064-1', 'auto');
ga('send', 'pageview');
</script>
<script async src='/assets/js/analytics.js'></script>
