- var title = "Bruno Alves - Desenvolvedor Front End"

<!DOCTYPE html>
html(lang="en")
  include includes/head.pug
  body
    video.home-video(preload, loop, autoplay, muted, poster="assets/images/layout/background-site.jpg")
      source(src="assets/media/bg-video.mp4", type="video/mp4")

    header#mainHeader.loading
      h1.logo(title="#{title}")
        img(src="assets/images/layout/logo.svg", alt="#{title}")

    section.div1
    section.div2

  script.
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('sw.js')
        .then(reg => console.info('registered sw!', reg))
        .catch(err => console.error('error on registering', err));
    }
  script(src="assets/js/app.js")
  link(rel="stylesheet", href="/assets/css/style.css")
